@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

.singup-left-part .overly {
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

.info::-webkit-scrollbar {
    display: none;
}
.overly{
    background: rgba(0, 0, 0, 0.5);
}